<h2>注文履歴詳細</h2>

<table>
<tr>
<th>購入者</th>
<td><%= @order.customer.first_name + @order.customer.last_name %></td>
</tr>
<tr>
<th>注文日</th>
<td><%= @order.created_at.strftime("%Y-%m-%d") %></td>
</tr>
<tr>
<th>配送先</th>
<td><%= @order.postal_code %> <%= @order.residence %><%= @order.address_name %></td>
</tr>
<tr>
<th>支払方法</th>
<td><% @order.payment_method %></td>
</tr>
<tr>
<th>注文ステータス</th>
<td>
  <%= form_with url:admin_order_path(@order),local:true,method: :patch do |f| %>
  <%= f.select :order_status,Order.order_statuses.keys %>
  <%= f.submit "更新" %>
  <% end %>
  </td>
</tr>
</table>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </tr>
    <tbody>
      <% @ordered_product.each do |ordered_product| %>
      <tr>
        <td><%= ordered_product.product.name %></td>
        <td><%= ordered_product.tax_price %></td>
        <td><%= ordered_product.amount %></td>
        <td><%= ordered_product.tax_price*ordered_product.amount %></td>
        <td>
          <%= form_with url:admin_ordered_product_path(ordered_product_id: @ordered_product_id),local:true,method: :patch do |f| %>
          <%= f.select :work_status,OrderedProduct.work_statuses.keys %>
          <%= f.submit "更新" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </thead>
</table>

<div>
  <p>商品合計<%= @total %></p>
  <p>送料<%= @order.shipping %></p>
  <p>請求金額合計<%= @total_price %></p>
</div>