<script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
<div class="container">
  <h2 class="my_page">会員情報編集画面</h2>

  <%= form_with model:@customer, url:customer_registration_path, id:'new_customer', class:'new_customer', local:true do |f| %>
    <%= render "public/customers/shared/error_messages", resource: resource %>

  　<table class="table">
  　  <tr>
  　    <th>名前</th>
        <td>（姓）</td>
        <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
        <td>（名）</td>
        <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></td>
      </tr>

      <tr>
        <th>フリガナ</th>
        <td>（セイ）</td>
        <td><%= f.text_field :kana_last_name, autofocus: true, autocomplete: "kana_last_name" %></td>
        <td>（メイ）</td>
        <td><%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name" %></td>
      </tr>


      <tr>
        <th>メールアドレス</th>
        <td></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>


      <tr>
        <th>郵便番号（ハイフンなし）</th>
        <td></td>
        <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></td>
      </tr>

      <tr>
        <th>住所</th>
        <td></td>
        <td><%= f.text_field :residence,autofocus: true, autocomplete: "residence" %></td>
      </tr>

      <tr>
        <th>電話番号（ハイフンなし）</th>
        <td></td>
        <td><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td><%= f.submit "編集内容を保存"%></td>
        <td></td>
        <td><%= link_to '退会する', customers_unsubscribe_path, class: "btn-sm btn-danger" %> </td>
      </tr>
    </table>
  <% end %>
</div>
