<div class="container product-show-container">
  <h2>商品詳細</h2>
  <div class="row">
    <div class="col-md-12">
     <div class="product-info">
      <div class="col-md-5">
        <%=  attachment_image_tag(@product, :image, :fill, 300, 300, fallback: "Nagano Cake.png") %>
      </div>
        <div class="col-md-7">
        <div class="field">
          <p>商品名    <%= @product.name %></p>
        </div><br>
        <div class="field">
          <p>商品説明    <%= @product.introduction %></p>
        </div><br>
        <div class="field">
          <p>ジャンル    <%= @product.genre.genre_name %></p>
        </div><br>
        <div class="field">
          <!--tax_priceのカラムがないので表示できない-->
          <p>税込価格    <%= @product.tax_price.to_s(:delimited) %></p>
          <p>(税抜き価格)    <%= @product.price.to_s(:delimited) %></p>
        </div><br>
        <div class="field">
          <p>販売ステータス
          <% if @product.is_active == true %>
            販売中
          <% elsif @product.is_active == false %>
            販売停止中
          <% end %>
          </p>
        </div>
<<<<<<< HEAD
      	<div class="actions col-xs-9">
      		<%= link_to "編集する", edit_admin_product_path(@product), class: "btn btn-success pull-right" %>
    	  </div>
=======
      </div>
>>>>>>> origin/develop
      </div>
    </div>
  </div>
          <div class="edit-btn">
	      		<%= link_to "編集する", edit_admin_product_path(@product), class: "btn btn-success pull-right" %>
      	  </div>

</div>