<div class="container">
  <h2>商品詳細</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-5">
        <%=  attachment_image_tag(@product), :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg") %>
      </div>
      <div class="col-md-7">
        <div class="field">
          <p>商品名    <%= @product.name %></p>
        </div><br>
        <div class="field">
          <p>商品説明    <%= @product.introduction %></p>
        </div><br>
        <div class="field">
          <p>ジャンル    <%= @product.genres.name %></p>
        </div><br>
        <div class="field">
          <p>税込価格    <%= tax_price(@product.price) %></p>
          <p>(税抜き価格)    <%= @product.price %></p>
        </div><br>
        <div class="field">
          <p>販売ステータス
          <% if product.is_active == true %>
            販売中
          <% elsif product.is_active == false %>
            販売停止中
          <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>